extends layout

block content

  a(href="http://localhost:3000/new") Add new Message

  h1  #{title}
  .box
    for message in messages
      .messages 
        p= message.text
        h3= message.user
        h4= message.added
        


    